
body{
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}

table {
    border-spacing: 0;
    border:3px salmon solid;
    text-align: center;
}

h1{
    color: green;
    text-align: center;
    margin-left: -20px;
}

h2{
    text-align: center;
    margin-left: -10px;
    font-family: cursive;
}

thead{
 background-color:rgb(222, 107, 187);
 font-weight: bolder;   
 color: rgb(21, 231, 63);
 font-size: 24px;
}

tbody{   
    font-size: 20px;
   }

td{
    border: 1px rgb(228, 72, 205) solid;
    padding: 5px;
}

#trDynamic{
    background-color:rgb(70, 25, 234);
    font-weight: bolder;   
    color:yellow;   
}