
body{
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}

table {
    border-spacing: 0;
    border:3px purple solid;
    text-align: center;
}

h1{
    color: plum;
    text-align: center;
    margin-left: -20px;
}

h2{
    text-align: center;
    margin-left: -10px;
    font-family: cursive;
}

thead{
 background-color:palevioletred;
 font-weight: bolder;   
 color:darkred;
 font-size: 24px;
}

tbody{   
    font-size: 20px;
   }

td{
    border: 1px purple solid;
    padding: 5px;
}

#trDynamic{
    background-color:indigo;
    font-weight: bolder;   
    color:aliceblue;   
}